#hero-card {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
#hero-text {
  width: 600px;
  background-color: rgb(40, 40, 40, 0.7);
  border-radius: 6px;
  border: 1px solid rgb(0, 170, 200);
  padding: 1rem;
  font-size: large;
  color: rgb(220, 220, 220);
}
