#navigationbar-card {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: flex-end;
}
#logo {
  width: 220px;
  margin: 1rem;
}
#category-btns {
  width: 100%;
  display: flex;
}
#category-btn {
  border: 1px solid green;
  border-radius: 2rem;
  color: rgb(214, 209, 198);
  margin: 1rem;
}
