#sheikah-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(40, 40, 40, 0.5);
  border: 2px solid green;
}

#sheikah-icon {
  border-radius: 4px;
}
#sheikah-img {
  width: 100px;
}
img {
  border-radius: 2rem;
}
