#sheikah {
  background-color: rgba(40, 40, 40, 0.5);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
}
#sheikah-card {
  width: fit-content;
  margin: 10px;
}
#sheikah-icon {
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 150px 42px;
  border-radius: 4px;
  transition: 0.1s;
}
#sheikah-icon:hover {
  scale: 1.1;
  border-radius: 1rem;
}

#sheikah-id {
  align-self: end;
  margin: 0 0 2px 5px;
  text-decoration: none;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 50px;
}
#sheikah-img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#sheikah-name {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}
img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
